body {
    background: #eeeeee;
    color: #aaaaaa;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

h1, h2, h3 {
    color: #222529;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.header {
    text-align: center;
    text-transform: uppercase;
}

#game-buttons {
    padding: 30px;
    width: 350px;
}

#game-buttons button {
    background: #cccccc;
    border: 1px solid #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px;
    text-transform: uppercase;
    width: 150px;
}

#game-status {
    font-size: 20px;
    visibility: visible;
}

#game-container {
    height: 100%;
    margin: auto;
    width: 500px;
}

#pw-protection {
    background: #528B8B;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#pw-protection > div {
    height: 200px;
    text-align: center;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
}

.sources {
    color: #000000;
}